
//page setting
$textColor: rgb(37, 36, 36);
$textDarkColor: rgb(255, 255, 255);
$backgroundLightColor: rgb(255, 255, 255);
$backgroundDarkColor: rgb(29, 28, 28);

//theme setting

$themeLightColor: #e2e2e2;
$themeDarkColor: #e2e2e2;
$boxShadowColor:rgb(204, 204, 204);
$themeBorderColor:rgb(0, 0, 0);
$dividerColor:#eee;

//button setting
$buttonLightColor:transparent;
$buttonDarkColor:#000;

$buttonHover: rgb(199, 199, 199);
$buttonActive: rgb(110, 110, 110);

$theme_font:'Raleway', sans-serif !important;
$themeFontSize: 17px;

@mixin center{
  left:50%;
  top:50%;
  @include transform(translate(-50%,-50%));
}
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
@mixin box_shadow($property) {
  -webkit-box-shadow: $property;
  -ms-box-shadow: $property;
  box-shadow: $property;
}
@mixin border_radius($property) {
  -webkit-border-radius: $property;
  -ms-border-radius: $property;
  border-radius: $property;
}
@mixin transition($x){
    transition:all $x;
    -webkit-transition:all $x !important;
    -moz-transition:all $x !important;
    -ms-transition:all $x !important;
    -o-transition:all $x !important;
}

@mixin border($position,$px,$color){
  
  @if $position == left {
    border-left:$px solid $color;
  }
  @if $position == top{
    border-top:$px solid $color;
  }
  @if $position == bottom{
    border-bottom:$px solid $color;
  }
  @if $position == right {
    border-right:$px solid $color;
  }

}

:export{
  buttonActive: $buttonActive;
}